body {
  counter-reset: sidenote-counter; 

.wrapper.post {margin-right: 35%;}

.sidenote, .marginnote { float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 1.96rem;
    font-size: 1.0rem;
    line-height: 1.96; //changed to bring line heights into rational pattern
    vertical-align: baseline;
    position: relative; }


li .sidenote, li .marginnote{ margin-right: -80%; } //added to allow for the fact that lists are indented and marginnotes and sidenotes push to right

blockquote .sidenote, blockquote .marginnote { margin-right: -79% }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { content: counter(sidenote-counter) " ";
                                           font-family: et-bembo-roman-old-style;
                                           color: $text-link-blue; //added color
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
                         font-size: 1rem;
                         top: -0.5rem;
                         left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) ".\000a0"; // this is unicode for a non-breaking space
                   color: $text-link-blue;
                   top: 0rem; } //removed superscripting for numerical reference in sidenote

.fullwidth, li.listing div{ max-width: 90%; }

.full-width { .sidenote, .sidenote-number, .marginnote { display: none; } }

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media (max-width: 760px) { label.margin-toggle:not(.sidenote-number) { display: inline; color: $text-link-blue; }
                            .sidenote, .marginnote { display: none; }
                            .margin-toggle:checked + .sidenote,
                            .margin-toggle:checked + .marginnote { display: block;
                                                                   float: left;
                                                                   left: 1rem;
                                                                   clear: both;
                                                                   width: 95%;
                                                                   margin: 1rem 2.5%;
                                                                   vertical-align: baseline;
                                                                   position: relative; }
                            label { cursor: pointer; }
                            pre, pre code, p code, p pre code { width: 90%;
                                       padding: 0; }
                            .table-caption { display: block;
                                             float: right;
                                             clear: both;
                                             width: 98%;
                                             margin-top: 1rem;
                                             margin-bottom: 0.5rem;
                                             margin-left: 1%;
                                             margin-right: 1%;
                                             vertical-align: baseline;
                                             position: relative; }
                            div.table-wrapper, table, table.booktabs { width: 85%; }
                            div.table-wrapper { border-right: 1px solid #efefef; }
                            img { max-width: 100%; } 
                            figcaption.maincolumn-figure, figure.fullwidth figcaption { float:none; text-align: center;}
                            figure.fullwidth figcaption { margin-left: 0; }
                          }
                        }

body[data-theme="dark"] {counter-reset: sidenote-counter; 

.wrapper.post {margin-right: 35%;}

.sidenote, .marginnote { float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 1.96rem;
    font-size: 1.0rem;
    line-height: 1.96; //changed to bring line heights into rational pattern
    vertical-align: baseline;
    position: relative; }


li .sidenote, li .marginnote{ margin-right: -80%; } //added to allow for the fact that lists are indented and marginnotes and sidenotes push to right

blockquote .sidenote, blockquote .marginnote { margin-right: -79% }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { content: counter(sidenote-counter) " ";
                                            font-family: et-bembo-roman-old-style;
                                            color: $dark-text-link-blue; //added color
                                            position: relative;
                                            vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
                          font-size: 1rem;
                          top: -0.5rem;
                          left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) ".\000a0"; // this is unicode for a non-breaking space
                    color: $dark-text-link-blue;
                    top: 0rem; } //removed superscripting for numerical reference in sidenote

.fullwidth, li.listing div{ max-width: 90%; }

.full-width { .sidenote, .sidenote-number, .marginnote { display: none; } }

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media (max-width: 760px) { label.margin-toggle:not(.sidenote-number) { display: inline; color: $dark-text-link-blue; }
                            .sidenote, .marginnote { display: none; }
                            .margin-toggle:checked + .sidenote,
                            .margin-toggle:checked + .marginnote { display: block;
                                                                    float: left;
                                                                    left: 1rem;
                                                                    clear: both;
                                                                    width: 95%;
                                                                    margin: 1rem 2.5%;
                                                                    vertical-align: baseline;
                                                                    position: relative; }
                            label { cursor: pointer; }
                            pre, pre code, p code, p pre code { width: 90%;
                                        padding: 0; }
                            .table-caption { display: block;
                                              float: right;
                                              clear: both;
                                              width: 98%;
                                              margin-top: 1rem;
                                              margin-bottom: 0.5rem;
                                              margin-left: 1%;
                                              margin-right: 1%;
                                              vertical-align: baseline;
                                              position: relative; }
                            div.table-wrapper, table, table.booktabs { width: 85%; }
                            div.table-wrapper { border-right: 1px solid #efefef; }
                            img { max-width: 100%; } 
                            figcaption.maincolumn-figure, figure.fullwidth figcaption { float:none; text-align: center;}
                            figure.fullwidth figcaption { margin-left: 0; }
                          }
                        }